@{
    this.ViewData["Title"] = "Raven World";
}

<head>
    <link rel="stylesheet" href="~/css/world.css" asp-append-version="true" />
</head>

<div id="worldMap">

    <a id="anchor-level1" class="text-dark" asp-controller="City" asp-action="Index" asp-route-enemyName="">
        <p class="font-weight-bold p-0">City View - 1</p>
    </a>

    <a id="anchor-level2" class="text-dark">
        <p class="font-weight-bold p-0">Avatar - 2</p>
    </a>

</div>


