@{
    this.ViewData["Title"] = "Raven World";
}

<head>
    <link rel="stylesheet" href="~/css/world.css" asp-append-version="true" />
</head>

<div id="worldMap">

    <img class="img-fluid justify-content-center" src="~/images/World/Raven-event-3.jpg" style="width: 1920px; height: auto; z-index: 100;" />

    <a id="anchor-level1" class="text-dark" asp-controller="City" asp-action="Index" asp-route-enemyName="">
        <p class="font-weight-bold p-0">City View - 1</p>
    </a>

    <a id="anchor-level2" class="text-dark">
        <p class="font-weight-bold p-0">Avatar - 2</p>
    </a>

    <a id="anchor-level3" class="text-dark" asp-controller="Arena" asp-action="Index" asp-route-enemyName="">
        <h1 class="font-weight-bold row justify-content-center">Arena</h1>
    </a>

    <a id="anchor-level4" class="text-dark" asp-controller="Event" asp-action="Index" asp-route-enemyName="">
        <h1 class="font-weight-bold row justify-content-center">Event</h1>
    </a>

    <a id="anchor-level5" class="text-dark">
        <h1 class="font-weight-bold row justify-content-center">Guild battle</h1>
    </a>

</div>


