@{
    this.ViewData["Title"] = "Raven World";
}

<head>
    <link rel="stylesheet" href="~/css/world.css" asp-append-version="true" />
</head>

<div id="worldMap">
    <div class="row">
        <h1 id="mapName" class="justify-content-center">Raven World</h1>
    </div>

    <a id="anchor-level9" class="text-dark" asp-controller="City" asp-action="Index" asp-route-enemyName="">
        <p class="font-weight-bold p-0">City View - 1</p>
    </a>
</div>


