@{
    this.ViewData["Title"] = "Event";
}

<head>
    <link rel="stylesheet" href="~/css/event.css" asp-append-version="true" />
</head>

<div id="eventMap">

    <img class="img-fluid justify-content-center" src="~/images/Event/Raven-event-2-3.jpg" style="width: 1920px; height: auto; z-index: 100;" />

    <a id="anchor-level1" class="text-dark">
        <p class="font-weight-bold p-0 text-black-50">Event</p>
    </a>

</div>