@{
    this.ViewData["Title"] = "Event";
}

<head>
    <link rel="stylesheet" href="" asp-append-version="true" />
</head>

<div>
    <h1 class="font-weight-bold row justify-content-center">Event</h1>
</div>