<head>
</head>
<div>
    <div class="mt-5">

    </div>
    <div class="row justify-content-center">
        <a id="joinGameLink" class="link text-dark border border-danger" href="/Identity/Account/Login">Join Game</a>
    </div>
</div>