@using RavenAge.Common
@{
    this.ViewData["Title"] = "Home Page";
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>document</title>
</head>
<body>
    <style>
        #load {
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 9999;
            background: url("https://i.imgur.com/Ryq7KyI.gif") no-repeat center center rgba(255,255,255,255);
            /*   background-position: center;
        background-repeat: no-repeat;
        background-size: cover;*/
        }
    </style>
    <div id="load"></div>
    <div class="text-center" id="contents">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button>Login</button>
    <button>Register</button>
    </div>
    <script>
        document.onreadystatechange = function () {
            var state = document.readyState;
            if (state == 'interactive') {
                document.getElementById('contents').style.visibility = 'hidden'
            }
            else if (state == 'complete') {
                setTimeout(function () {
                    document.getElementById("interactive");
                    document.getElementById("load").style.visibility = 'hidden';
                    document.getElementById("contents").style.visibility = 'visible';
                }, 2000)

            }

        }

    </script>
</body>
</html>

