/*body {
    max-height: 1080px;
}
*/

#wrapper {
/*    width: 100%;
*/    height: 100%;
    max-width: 1920px; /*actual width of image-- behaves strangely if exceeding this*/
    position: relative;
}

#wrapper img {
        max-width: 100%;
    }

#anchor-level1 {
    background-image: url("../images/City/Barracks-2.png");
    background-position: center;
    background-size: cover;
    width: 20.7%;
    height: 18.5%;
    border: 2px solid red;
    position: absolute;
    left: 6.2%;
    top: 58.5%;
}

#anchor-level2 {
    background-image: url("../images/City/TownHall-2.png");
    background-position: center;
    background-size: cover;
    width: 15.7%;
    height: 21.5%;
    border: 2px solid red;
    position: absolute;
    left: 12.2%;
    top: 20.5%;
}

#anchor-level3 {
    background-image: url("../images/City/House-2.png");
    background-position: center;
    background-size: cover;
    width: 14.7%;
    height: 18.5%;
    border: 2px solid red;
    position: absolute;
    left: 42.4%;
    top: 11.5%;
}

#anchor-level4 {
    background-image: url("../images/City/Farm-2.png");
    background-position: center;
    background-size: cover;
    width: 12.7%;
    height: 23.5%;
    border: 2px solid red;
    position: absolute;
    left: 70.8%;
    top: 9.95%;
}

#anchor-level5 {
    background-image: url("../images/City/SawMill-2.png");
    background-position: center;
    background-size: cover;
    width: 12.7%;
    height: 16.5%;
    border: 2px solid red;
    position: absolute;
    left: 78.75%;
    top: 45.35%;
}

#anchor-level6 {
    background-image: url("../images/City/StonQuarry-2.png");
    background-position: center;
    background-size: cover;
    width: 11.1%;
    height: 19%;
    border: 2px solid red;
    position: absolute;
    left: 71.75%;
    top: 63.38%;
}

#anchor-level7 {
    background-image: url("../images/City/MarketPlace-2.png");
    background-position: center;
    background-size: cover;
    width: 14.85%;
    height: 18.75%;
    border: 2px solid red;
    position: absolute;
    left: 40%;
    top: 59.3%;
}

#anchor-level8 {
    width: 13.85%;
    height: 17.75%;
    border: 2px solid red;
    position: absolute;
    left: 37.2%;
    top: 80.35%;
}

#anchor-level9 {
    background-image: url(/images/World/GoWorldButton.jpg);
    background-size: 145px 100px;
    width: 5.85%;
    height: 11.75%;
    border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    z-index: 9999;
    left: 92.9%;
    top: 85.8%;
    position: fixed;
}


#anchor-level11 {
    background-image: url(/images/depositphotos_11.jpg);
    background-size: 145px 100px;
    width: 5.85%;
    height: 11.75%;
    border: 7px solid #292929;
    border-radius: 50%;
    position: absolute;
    z-index: 9999;
    left: 0%;
    top: 0%;
    position: fixed;
}
