#guildWrapper {
    background: url(../images/Guild/tavern2.jpg);
    height: 100%;
    max-width: 1920px; /*actual width of image-- behaves strangely if exceeding this*/
    position: relative;
}


#scoreBoard {
    background-color: lightslategray;
    opacity: 0.6;
    width: 30%;
    height: 88.5%;
    position: absolute;
    left: 2.70%;
    top: 9%;
    font: bold;
    text-decoration: none;
    font-size: larger;
    color: black;
}

#yourGuild {
    background-color: lightslategray;
    opacity: 0.6;
    width: 30%;
    height: 88.5%;
    position: absolute;
    left: 68.9%;
    top: 9%;
    font: bold;
    text-decoration: none;
    font-size: larger;
    color: black;
}

td {
    text-decoration: none;
    font-size: medium;
    color: black;
}