
.modal-header {
    border: none;
    padding: 9px 15px;
    background-color: #403f3e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

.modal-body {
    border: none;
    background-color: #403f3e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

.modal-footer {
    border: none;
    background-color: #403f3e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}
