body {
    background-image: url("/images/background1.jpg");
    background-position: top;
}

.container {
    display: flex;
    justify-content: center;
}

.wholeContainer {
    display: flex;
    justify-content: center;
}

.wrapper {
    margin-right: 200px;
    position: relative;
    top: 100px;
    left: 100px;
    width: 300px;
    height: 350px;
    background-color: white;
}

.picker {
    position: relative;
    top: 50%;
    width: 550px;
    height: 500px;
    background-color: dimgrey;
    overflow: auto;
    left: 50%
}

.avatar {
    position: relative;
    vertical-align: middle;
    background-color: dimgrey;
    border-radius: 50%;
    margin: 10px;
    border-collapse: collapse;
    border-radius: 50px;
    width: 110px;
    height: 100px;
    min-width: 100px;
    max-height: 100px;
    overflow: hidden;
    z-index: 1;
    text-align: center;
}

.link {
    text-decoration: none;
    background: none;
}

.chosenAvatar {
    position: relative;
    width: 200px;
    height: 300px;
    left: 50px;
    top: 20px;
}

.btn {
    background: transparent;
    border: 2px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    margin: 18px;
    padding: 15px 25px;
    min-width: 150px;
    min-height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    position: relative;
    top: 100px;
}

.rounded {
    border-radius: 5px;
}

.full-rounded {
    border-radius: 20em;
}

.color {
    background: #fac75a;
    color: black;
    box-shadow: 0 3px 0 #f9b629;
}

    .color:hover {
        background: #fce17a;
    }

    .color:active,
    .color:focus {
        background: #fac24b;
    }
