body {
    width: 1920px;
    height: 1080px;
}

#title {
    display: block;
    color: #efede8;
    text-align: center;
    font-size: 4.5rem;
    font-weight: 700;
    text-shadow: 4px 4px 4px black;
}

.class {
    width: 250px;
    bottom: 400px;
    border-radius: 50%;
    background-size: cover;
}

.chooseClass {
    width: 1920px;
    height: 1080px;
    background: url(/images/Backgrounds/indexBackground2.jpg);
    position: relative;
}

#wrapper1 {
    width: 15%;
    height: 10%;
    position: absolute;
    left: 20%;
}

#wrapper2 {
    width: 15%;
    height: 10%;
    position: absolute;
    left: 45%;
}

#wrapper3 {
    width: 15%;
    height: 10%;
    position: absolute;
    left: 70%;
}

.name {
    text-align: center;
    position: relative;
    top: 550px;
    right: 20px;
    color: #efede8;
    font-size: 3rem;
    text-shadow: 4px 4px 4px black;
}
