@model RavenAge.Web.ViewModels.City.CityViewModel;


<div>

    <div>
        <p id="HouseCurrentWorkers">Curent points: @Model.DefenceWall.Defence</p>
    </div>

    <div>

        <p>Raise the level of the Wall to increase the city defence </p>

        <div class="row ml-1">
            <a id="" class="button-primary text-success mr-3 btn btn-outline-success" asp-controller="DefenceWall" asp-action="LevelUp">Level Up</a>

            <p>
                <span>Price:</span>
                <span id="HouseSilverUpgradeCost" class="text-warning">Silver: @Model.House.SilverPrice</span>,
                <span id="HouseStoneUpgradeCost" class="text-secondary">Stone: @Model.House.StonePrice</span>,
                <span id="HouseWoodUpgradeCost"class="text-danger">Wood: @Model.House.WoodPrice</span>
            </p>
        </div>


    </div>

</div>

