@model RavenAge.Web.ViewModels.City.CityViewModel;


<div>

    <div>
        <p id="DefencePoints">Curent points: @Model.DefenceWall.Defence</p>
    </div>

    <div>

        <p>Raise the level of the Wall to increase the city defence </p>

        <div class="row ml-1">
            <a id="DefenceWallUpgrade" class="button-primary text-success mr-3 btn btn-outline-success" >Level Up</a>

            <p>
                <span>Price:</span>
                <span id="DefenceWallSilverUpgradeCost" class="text-warning">Silver: @Model.DefenceWall.SilverPrice</span>,
                <span id="DefenceWallStoneUpgradeCost" class="text-secondary">Stone: @Model.DefenceWall.StonePrice</span>,
                <span id="DefenceWallWoodUpgradeCost"class="text-danger">Wood: @Model.DefenceWall.WoodPrice</span>
            </p>
        </div>


    </div>

</div>

