@model RavenAge.Web.ViewModels.City.CityViewModel;


<div>

    <div>
        <p>Curent workers: @Model.Workers</p>
        <p>Income per worker: 2 Silver</p>
        <p>Total income: @(Model.Workers * 2)</p>
    </div>

    <div>

        <p>Raise the level of the houses to increase the workers' limit </p>
        <a class="button-primary text-danger" asp-controller="House" asp-action="LevelUp">Level Up</a>

    </div>

</div>

