@model RavenAge.Web.ViewModels.City.CityViewModel;


<div>

    <div>
      <p id="ArmyLimit">Army limit: @Model.TownHall.ArmyLimit</p>
    </div>

    <div>

        <p>Raise the level of the townhall to increase the army limit and to reach higher buildings levels</p>

        <div class="row ml-1">
            <a id="TownHallUpgrade" class="button-primary text-success mr-3 btn btn-outline-success">Level Up</a>

            <p>
                <span>Price:</span>
                <span id="TownHallSilverCost" class="text-warning">Silver: @Model.TownHall.SilverPrice</span>,
                <span id="TownHallStoneCost" class="text-secondary">Stone: @Model.TownHall.StonePrice</span>,
                <span id="TownHallWoodCost" class="text-danger">Wood: @Model.TownHall.WoodPrice</span>
            </p>
        </div>


    </div>

</div>

