@model RavenAge.Web.ViewModels.City.BarracksViewModel;
---Barracks Modal---
<div>Description: @Model.Description</div>
<div>Price: @Model.Price</div>
<div>Level: @Model.Level</div>
<div>Training Limit: @Model.TrainingLimit</div>
