@{
    this.ViewData["Title"] = "Raven City";
}

<head>
    <link rel="stylesheet" href="~/css/city.css" asp-append-version="true" />
</head>


<div id="wrapper">

    <img class="img-fluid justify-content-center" src="~/images/City/CityMapNew.png" style="width: 1920px; height: 1080px; " />

    <a id="anchor-level1" class="text-dark" asp-controller="" asp-action="" asp-route-enemyName="">
        <p class="font-weight-bold p-0"> Barracks -1 </p>
    </a>

    <a id="anchor-level2" class="text-dark" asp-controller="" asp-action="" asp-route-enemyName="">
        <p class="font-weight-bold p-0">Townhall - 2</p>
    </a>

    <a id="anchor-level3" class="text-dark" asp-controller="" asp-action="" asp-route-enemyName="">
        <p class="font-weight-bold p-0">Hous - 3</p>
    </a>

    <a id="anchor-level4" class="text-dark" asp-controller="" asp-action="" asp-route-enemyName="">
        <p class="font-weight-bold p-0">Farm - 4</p>
    </a>

    <a id="anchor-level5" class="text-dark" asp-controller="" asp-action="" asp-route-enemyName="">
        <p class="font-weight-bold p-0">Saw mill - 5</p>
    </a>

    <a id="anchor-level6" class="text-dark" asp-controller="" asp-action="" asp-route-enemyName="">
        <p class="font-weight-bold p-0">Stone quarry - 6</p>
    </a>

    <a id="anchor-level7" class="text-dark" asp-controller="" asp-action="" asp-route-enemyName="">
        <p class="font-weight-bold p-0">Marketplace - 7</p>
    </a>

    <a id="anchor-level8" class="text-dark" asp-controller="" asp-action="" asp-route-enemyName="">
        <p class="font-weighсt-bold p-0">Stone wall - 8</p>
    </a>

    <a id="anchor-level9" class="text-dark" asp-controller="World" asp-action="Index" asp-route-enemyName="">
        <p class="font-weight-bold p-0">World View - 9</p>
    </a>

    <a id="anchor-level10" class="text-dark" asp-controller="" asp-action="" asp-route-enemyName="">
        <p class="font-weight-bold p-0"> lvl 10</p>
    </a>

    <a id="anchor-level11" class="text-dark">
        <p class="font-weight-bold p-0">Avatar - 11</p>
    </a>

</div>